ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS: http://+:80
ASPNETCORE_URLS: http://+:80
RabbitMQ__Host: rabbitmq
RabbitMQ__Username: 
RabbitMQ__Password: 
ConnectionStrings__MongoDb: mongodb+srv://.....
DatabaseName: YOUR_DATABASE_NAME
EmailSettings__Host: 
EmailSettings__Port: 
EmailSettings__Username: 
EmailSettings__Password: 
EmailSettings__From: 
EmailSettings__UseSSL: 
EmailSettings__FromName: 
JwtSettings__SecretKey: 
JwtSettings__Issuer: 
JwtSettings__Audience: 
JwtSettings__ExpireMinutes: 
JwtSettings__RefreshExpireDays: 
JwtSettings__TempTokenExpireMinutes: 
AllowedOrigins__0: YOUR_DOMAIN_1
AllowedOrigins__1: YOUR_DOMAIN_2
AllowedOrigins__2: 
AllowedOrigins__3: 
AllowedOrigins__4: 
UserSeeder__FullName: 
UserSeeder__Email: 
UserSeeder__Password: 
UserSeeder__Role: 
UserSeeder__BusinessName: 
EmailTokenSettings__ExpireDays:
EmailTokenSettings__UrlBase: ""
PAYOS__CLIENTID: 
PAYOS__APIKEY: 
PAYOS__CHECKSUMKEY: 
PAYOS__URL: ""
ApiConfigs__SecretKey: 
Google__CredentialsPath: 
Google__ProjectId: 
Google__Location: global
Google__ModelId: 
Google__EmbeddedModelId: 
Google__EmbeddedLocation: global
Google__OutputDimensionality: 
Google__GeminiMaxTokens: 
Qwen__ApiKey: 
Qwen__ApiUrl: 
Qwen__Model:
Qwen__MaxTokens: 
Qdrant__Host: qdrant
Qdrant__Port: 6334
Cloudinary__CloudName: 
Cloudinary__ApiKey: 
Cloudinary__ApiSecret: 
Redis__ConnectionString: redis:6379
Redis__ConversationContextTtlHours: 3
Redis__RecentTurnLimit: 6
OpenAI__ApiKey: 
OpenAI__ModelId: 
PasswordResetTokenSettings__UrlBase: 
PasswordResetTokenSettings__ExpireMinutes: 